/*  ------------------------------
    Workflow - SASS
    Author: Renato Siqueira
    ------------------------------*/ 

// -----------------------------------\
//    Gerenciamento de Temas
//------------------------------------/

@import "theme/theme1.scss";
//@import "theme/theme2.scss";
//@import "theme/theme3.scss";

// -----------------------------------\
//      Component: NAVBAR
// -----------------------------------/
@import "navbar/navbar.scss";


// -----------------------------------\
//      LAYOUT - HTML
// -----------------------------------/
* {
    margin-top: 0;
    
    font-family: $fontes;
}