// -----------------------------------\
//          LAYOUT 1
// -----------------------------------/
    $tema:1;

    $fontes: Arial, Helvetica, sans-serif;

// -----------------------------------\
//      LAYOUT - layout.scss
// -----------------------------------/
    $navbar-height: 48px;
    
// -----------------------------------\
//      ELEMENT - elements.scss
// -----------------------------------/
    $brand-color:  #622569;
    $menu-link__color:  #622569;

    $menu-link-hover__text-color: #fff;
    $menu-link__hover-background-color: #622569;
