// -----------------------------------\
//          LAYOUT 2
// -----------------------------------/
    $tema:2;

    $fontes: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
// -----------------------------------\
//      LAYOUT - layout.scss
// -----------------------------------/
    $navbar-height: 49px;

// -----------------------------------\
//      ELEMENT - elements.scss
// -----------------------------------/
    $brand-color:  rgb(223, 105, 26);

    $menu-link__color:  rgb(223, 105, 26);

    $menu-link-hover__text-color: #fff;
    $menu-link__hover-background-color: rgb(223, 105, 26);