// -----------------------------------\
//          LAYOUT 3
// -----------------------------------/
    $tema:3;

    $fontes: "Times New Roman", Times, serif;

// -----------------------------------\
//      LAYOUT - layout.scss
// -----------------------------------/

    $navbar-height: 50px;

// -----------------------------------\
//      ELEMENT - elements.scss
// -----------------------------------/
    $brand-color:  rgb(153, 153, 153);
    $menu-link__color:  rgb(153, 153, 153);

    $menu-link-hover__text-color: #fff;
    $menu-link__hover-background-color: rgb(39, 143, 48);